{{ $url := os.Getenv "API_URL"}}
{{ $dataJ := getJSON $url }}  
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.7.0"></script>

  <canvas id="incomePieChart" style="position: relative; height: 30vh; max-width:95vw; margin:auto; margin-top:10px;"></canvas>
  <script>
  var dataj = {{ $dataJ }};
  var incomes = dataj.map((obj) => obj.年収レンジ).filter(word => word != null);
  var income_women_num = dataj.map((obj) => obj.年収ー女性人数).filter(word => word != null);
  var income_men_num = dataj.map((obj) => obj.年収ー男性人数).filter(word => word != null);
  var itx = document.getElementById("incomePieChart").getContext("2d");

  var data = {
    labels: [
      'Red',
      'Blue',
      'Yellow'
    ],
    datasets: [{
      label: 'My First Dataset',
      data: [300, 50, 100],
      backgroundColor: [
	'rgb(255, 99, 132)',
	'rgb(54, 162, 235)',
	'rgb(255, 205, 86)'
      ],
      hoverOffset: 4
    }]
  };

  var incomePieChart = new Chart(itx, {
      type: 'doughnut',
      data: data,
      options: {
          rotation: Math.PI,
          circumference: Math.PI,
      }
  });
  </script>

