  <canvas id="dietmemChart" style="position: relative; height: 1200px; max-width:800px; margin:auto; margin-top:40px;"></canvas>
  <script>
  var dtx = document.getElementById("dietmemChart").getContext("2d");

  var data = {
      labels: ["自民党", "立憲民主党", "無所属", "公明党", "共産党", "希望の党", "日本維新の会", "社会民主党" ],
      datasets: [
          {
            label: "女性",
            backgroundColor: 'rgba(255, 99, 132, 1.0)',
            data: [20, 12, 5, 4,3,2,   1, 0 ]
          },
          {
              label: "男性",
              backgroundColor: 'rgba(132, 99, 255, 1.0)',
              data: [261, 42, 21, 25, 9, 48, 10, 2 ]
          },
      ]
  };

  var myBarChart = new Chart(dtx, {
      type: 'horizontalBar',
      data: data,
      options: {
          legend: {
              labels: {fontSize: 15}
          },
          barValueSpacing: 50,
          scales: {
              yAxes: [{
                  ticks: {
                      min: 0,
                  }
              }]
          },
          title: {
              display: true,
              text: '現在の衆議院,男女議席数は？',
              fontSize: 15
          },
          plugins: {
              datalabels: {
                  backgroundColor:'rgba(120,99,132,0.5)',
                  borderRadius: 4,
                  color: 'white',
                  font: {
                      weight: 'bold',
                      size:10
                  },
                  padding:1,
                  anchor: 'end',
                  clamp: true,
                  align: 'end'
              }
          }


      }
  });
  </script>
 
