<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.7.0"></script>    

<canvas id="myChart" style="position: relative; height: 800px; max-width:800px; margin:auto; margin-top:80px;"></canvas>
    <script>
    var ctx = document.getElementById("myChart").getContext('2d');
    var element = document.getElementById("myChart")
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ["2006", "2017", "2018", "2020", "2021"],
            datasets: [{
                type: 'line',
                label: '政治, 世界156ヵ国中',
                data: [-83, -123, -125, -144, -147],
                backgroundColor: 'rgba(255, 99, 132, 0.0)',
                borderColor: 'rgba(255,99,132,1)',
                borderWidth: 1,
                lineTension: 0
            }]
        },
        options: {
            legend: {
                labels: {fontSize: 15}
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true,
                        callback: function(value, index, values) {
                            return -1 * value;
                        }
                    }
                }]
            },
            title: {
                display: true,
                text: '日本のジェンダー順位は世界でどのあたり？',
                fontSize: 15
            },
            plugins: {
                datalabels: {
                    backgroundColor:'rgba(255,99,132,1.0)',
                    borderRadius: 4,
                    color: 'white',
                    font: {
                        weight: 'bold'
                    },
                    formatter: function(value){
                        return value * -1;
                    },
                    padding: 6
                }
            }
        }
    });
    </script>

