{{ $url := os.Getenv "API_URL"}}
{{ $dataJ := getJSON $url }}
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.7.0"></script>
  <canvas id="UpperWomenPerChart" style="position: relative; height: 800px; max-width:800px; margin:auto; margin-top:100px;"></canvas>
  <script>
  var dataj = {{ $dataJ }};
  var upper_parties = dataj.map((obj) => obj.参議院ー政党).filter(word => word != null);
  var per_women = dataj.map((obj) => obj.参議院ー女性割合 * 100).slice(0, upper_parties.length);
  console.log(upper_parties);
  console.log(dataj);

  var wptx = document.getElementById("UpperWomenPerChart").getContext("2d");

  var data = {
      labels: upper_parties,
      datasets: [
          {
              label: "参議院 党内女性議員割合(%)",
              backgroundColor: 'rgba(255, 99, 132, 1.0)',
              data: per_women 
          }
      ]
  };

  var UpperWomenBarChart = new Chart(wptx, {
      type: 'horizontalBar',
      data: data,
      options: {
          legend: {
              labels: {fontSize: 15}
          },
          barValueSpacing: 50,
          scales: {
              xAxes: [{
                  ticks: {
                      min: 0,
                      max: 100,
                  }
              }]
          },
          title: {
              display: true,
              text: '現在(*)の参議院, 党での女性議員割合は？',
              fontSize: 15
          },
          plugins: {
              datalabels: {
                  backgroundColor:'rgba(120,99,132,0.5)',
                  borderRadius: 4,
                  color: 'white',
                  font: {
                      weight: 'bold',
                      size:10
                  },
                  formatter: function(value){
                      return value + "%" ;
                  },
                  padding:1,
                  anchor: 'end',
                  clamp: true,
                  align: 'end'
              }
          }


      }
  });
  </script>

